
<h1 class="text-center">Trails</h1>
<div id="app"></div>

<br>
<div class="row">
  <div class="small-6 columns">
  <% @ordered_hikes.each do |hike| %>
    <div class="hike" >
      <h4 class="hike-name"><%= link_to hike.name, hike_path(hike.id) %></h4><h6 class="hike-place"> <%= "#{hike.city}, #{hike.state}, #{hike.country}" %></h6>
      <p><%= hike.description.truncate(130) %></p>
    </div>
  <% end %>
  </div>
  <div class="small-6 columns">
    <h3>Add a Trail</h3>
      <div class="callout primary">
      <%= form_for @new_hike, method: :create, url: hikes_path, html: {class: "new_hike"} do |f| %>
        <div class="field">
          <%= f.text_field :name, placeholder: "Trail Name" %>
        </div>

        <div class="field">
          <%= f.label "Country" %>
          <%= f.select :country, @countries %>
        </div>

        <div class="field">
          <%= f.text_field :state, placeholder: "State Abbr (e.g. 'GA') or Province"%>
        </div>

        <div class="field">
          <%= f.text_field :city, placeholder: "City, Region, or Park Name" %>
        </div>

        <div class="field">
          <%= f.label :difficulty %>
          <%= f.select :difficulty, @difficulty_levels %>
        </div>

        <div class="field">
          <%= f.number_field :distance, placeholder: "Distance (mi)" %>
        </div>

        <div class="field">
          <%= f.number_field :elevation, placeholder: "Elevation Gain (ft)" %>
        </div>

        <div class="field">
          <%= f.text_area :description, placeholder: "Description", size: "20x10" %>
        </div>

        <div class="actions">
          <%= f.submit "Add"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
