<div class="z-depth-4 container">
  <br>
  <div class="hike-show container">
    <h2><%= @hike.name %></h2>
    <h4><%= "#{@hike.city}, #{@hike.state}, #{@hike.country}" %></h4>
    <h6> <%= "Difficulty: #{@hike.difficulty.upcase}" %> &nbsp; &nbsp; <%="Elevation Gain: #{@hike.elevation} ft" %> &nbsp; &nbsp;   <%= "Distance: #{@hike.distance} mi" %></h6>
    <h5><%= @hike.description %></h5>
  </div>
  <br><br>
  <div class="row">
    <% if UserHike.find_by(user: current_user, hike: @hike, list: "wishlist") %>
      <h5 "col s6 right-align onlist">This trail is on your wishlist</p>  <%= form_for @my_hike, url: my_hikes_path do |f| %>
      <%= f.hidden_field :hike_id, value: @hike.id %>
      <div class="col s6 left-align">
        <%= f.submit "Add to My Hikes", class:"waves-effect waves-light btn blue darken-2" %>
      </div>
      <% end %>
    <% elsif UserHike.find_by(user: current_user, hike: @hike, list: "my_hikes")%>
      <h5 class="center-align onlist">This trail is in your My Hikes list</h5>
    <% else %>
      <%= form_for @wishlist, url: wishlists_path do |f| %>
      <%= f.hidden_field :hike_id, value: @hike.id %>
      <div class="col s6 right-align">
        <%= f.submit "Add to Wishlist", class:"waves-effect waves-light btn blue darken-2" %>
      </div>
      <% end %>
      <%= form_for @my_hike, url: my_hikes_path do |f| %>
      <%= f.hidden_field :hike_id, value: @hike.id %>
      <div class="col s6 left-align">
        <%= f.submit "Add to My Hikes", class:"waves-effect waves-light btn blue darken-2" %>
      </div>
      <% end %>
    <% end %>
  </div>
  <br>
</div>
