<div class="hike-show large-8 large-centered columns">
  <h3><%= @hike.name %></h3>
  <h5><%= "#{@hike.city}, #{@hike.state}, #{@hike.country}" %></h5>
  <p> <%= "Difficulty: #{@hike.difficulty.upcase}" %> &nbsp; &nbsp; <%="Elevation Gain: #{@hike.elevation} ft" %> &nbsp; &nbsp;   <%= "Distance: #{@hike.distance} mi" %></p>
  <p><%= @hike.description %></p>
</div>

<div class="large-8 large-centered columns">
  <div class="add-to-list">
    <%= form_for @wishlist, url: wishlists_path do |f| %>
    <div class="row">
      <%= f.hidden_field :hike_id, value: @hike.id %>
      <div class="">
        <%= f.submit "Add to Wishlist" %>
      </div>
      <% end %>
    </div>
    <%= form_for @my_hike, url: my_hikes_path do |f| %>
    <div class="row">
      <%= f.hidden_field :hike_id, value: @hike.id %>
      <div class="">
        <%= f.submit "Add to My Hikes" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
