<!DOCTYPE html>
<html>
  <head>
    <title>Trailhead</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo trailhead blue-text text-darken-3">Trailhead</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down blue-text">
            <% if current_user %>
              <li><%= link_to "My Lists", user_hikes_path, class:"blue-text text-darken-3"%></li>
              &nbsp; &nbsp;
              <li class="blue-text"><%= link_to current_user.username, user_path(current_user.id), class:"blue-text text-darken-3"%></li>
              &nbsp; &nbsp;
              <li class="blue-text"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"blue-text text-darken-3" %></li>
            <% else  %>
              <li class="blue-text"><%= link_to 'Create Account', new_user_registration_path, class:"blue-text text-darken-3" %></li>
              &nbsp; &nbsp;
              <li class="blue-text"><%= link_to "Sign In", new_user_session_path, class:"blue-text text-darken-3" %></li>
            <% end  %>
          </ul>
        </div>
      </nav>
    </div>


    <% if flash[:notice] %>
      <script type="text/javascript">
      Materialize.toast('<%= notice %>', 5000)
      </script>
    <% elsif flash[:error] %>
      <script type="text/javascript">
      Materialize.toast('<%= flash[:error] %>', 5000)
      </script>
    <% elsif flash[:alert] %>
      <script type="text/javascript">
      Materialize.toast('<%= alert %>', 5000)
      </script>
    <% end %>

    <%= yield %>

  </body>
</html>
